.admin {
  background-color: #e4e1f7;
  width: 100%;
  height: 90vh;
}
.mleft-for-dashbord {
  margin-top: 10px;
  padding-left: 300px;
}
@media (max-width: 576px) {
  .mleft-for-dashbord {
    margin-top: 10px;
    padding-left: 110px;
  }
}
@media (max-width: 960px) {
  .stud-list{
    display: none;
  }
}
.box-sizes {
  margin-top: 2rem;
  width: 19rem;
  height: 14rem;

  margin-left: 3rem;
}
.dashboard-color {
  color: #ec5782;
}
.dashboard-color-t {
  color: #294BF9;
}
.dashboard-color-c {
  color: #294BF9;
}
.dashboard-color-s {
  color: #3300FF;
}

.Actives {
  color: #ff6b00;
  background-color: #ffffff;
  border-bottom-left-radius: 22px;
  border-top-left-radius: 22px;
}
.stud-list {
  width: 75%;
  height: 55vh;
  background-color: white;
  border-radius: 14px;
}
.list {
  width: 100%;
  padding: 13px;
  margin-right: 0;
}
.list:hover {
  color: #ff6b00;
  background-color: #f18f8f;
  border-bottom-left-radius: 22px;
  border-top-left-radius: 22px;
}
.all-list {
  margin: 0;
  padding: 0;
}
.logo .logo-1 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 4px;
  margin-left: 4px;
}
.logo{
  display: flex;
  flex-flow: wrap;
}
.logo .logo-2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.body {
  margin-left: 400px;
}
.App {
  background-color: rgb(39, 94, 153);
}
.sign_up {
  font-size: 30px;
  color: rgb(132, 0, 255);
  font-weight: bold;
}
.centered {
  position: relative;
  top: 20vh;
  left: 27%;
}
.bg {
  background-image: linear-gradient(45deg, #3e32a8, #910552);
}
.paging{
  width: 200px;
  overflow: hidden;
}
.no-border {
  border: 0;
  box-shadow: none;
}
